body {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#cards-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
